* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#titleScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/assets/img/Title-Menu-Background.png);
  z-index: 1;
}
#titleScreen.hidden {
  opacity: 0;
  transition: all 0.7s ease-in;
}
#titleScreen h1 {
  height: 120px;
  width: 600px;
  background: url(/assets/img/Minecraft-Logo.png) no-repeat center center/cover;
}

.container {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  margin: 0 auto;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  flex-grow: 4;
}

.mainGrid {
  width: 100vmin;
  height: 100vmin;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.sidebar {
  width: 100vmin;
  height: 100vmin;
  background-color: black;
  flex: 0 0 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* GAME STYLE */

.block:hover {
  border: 1px solid #fff;
  border-right-width: 2px;
  cursor: pointer;
}
.block[data-blockType="sky"] {
  background-color: lightblue;
}
.block[data-blockType="dirt"] {
  background: url(../assets/img/blockImg/Dirt.png) no-repeat center center/cover;
}

.block[data-blockType="grass"] {
  background: url(../assets/img/blockImg/GrassBlock.png) no-repeat center
    center/cover;
}

.block[data-blockType="leaves"] {
  background: url(../assets/img/blockImg/Leaves.png) no-repeat center
    center/cover;
}

.block[data-blockType="sand"] {
  background: url(../assets/img/blockImg/Sand.png) no-repeat center center/cover;
}

.block[data-blockType="stone"] {
  background: url(../assets/img/blockImg/Stone.png) no-repeat center
    center/cover;
}

.block[data-blockType="wood"] {
  background: url(../assets/img/blockImg/Wood.png) no-repeat center center/cover;
}

/* SIDE BAR STYLE */
.toolBtn {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px #595959;
}
.toolBtn:hover {
  cursor: pointer;
  background-color: blue;
  color: #fff;
}
.restBtn {
  padding: 1rem;
}
.toolBtn img {
  height: 80px;
}
.toolBtn.active {
  background-color: blue;
  color: #fff;
}
.toolBtn.error {
  background-color: red;
}

.bank {
  height: 50px;
  width: 50px;
}

.reset {
  height: 50px;
  width: 50px;
}
.reset img {
  height: 100%;
}
.reset img:hover {
  background-color: #78c;
}
